/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "plankdiv2.dtsi"

&pro_micro_i2c {
    status = "okay";

    tps43: iqs5xx@74 {
        compatible = "azoteq,tps43";
        reg = <0x74>;
        status = "okay";

        /* GPIO connections */
        rdy-gpios = <&pro_micro 9 GPIO_ACTIVE_HIGH>;
        rst-gpios = <&pro_micro 10 GPIO_ACTIVE_HIGH>;

        enable-power-management;

        sensitivity = <100>;
        scroll-sensitivity = <50>;
        zoom-sensitivity = <50>;

        filter-settings = <0x0B>;
        x-resolution = <2048>;
        y-resolution = <1792>;

        scroll;
        two-finger-tap;
        single-tap;
        press-and-hold;
        swipes;
        zoom;

        switch-xy;
        invert-scroll-y;
    };
};

&kscan0 {
    col-gpios
        = <&pro_micro 21 GPIO_ACTIVE_HIGH>
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 16 GPIO_ACTIVE_HIGH>
        ;
};
